#nova {
    border-width: medium;
    border-style: solid;
    border-color:black;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-color: black;
    color: orange;
    text-align: center;
    padding: 5px;
}
#lr {
    line-height:30px;
    background-color:#eeeeee;
    height:550px;
    width:300px;
    float:left;
    padding:5px; 
}
#section {
    width:500px;
    float:left;
    padding:10px; 
}
footer {
    background-color:black;
    color:orange;
    clear:both;
    text-align:center;
    padding:5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

